<h2> <img class="deckLogo" src="../images/decklogoGreen.svg"/> {{currentDeck}} </h2>
  <p>
    <button class="inputButtonLarge">Study Deck</button>
    <button class="inputButtonLarge" id="editDeck">Edit Deck</button>
    <button class="inputButtonLargeHidden" id="addCard">Add Card</button>
    <form action="/api/decks/:id" method="delete">
    <input type="submit" class="inputButtonLargeHidden" id="deleteDeck" value="Delete"></input>
    </form>
  </p>

  <div class="addCard" id="addCardDiv">
    <form action="/api/cards" method="post">
      <input type="hidden" name="DeckName" value="{{{currentDeck}}}">
      <h4> Question </h4>
      <input type="text" name="Question" class="inputBoxLarge"></input>
      <h4> Answer </h4>
      <input type="text" name="Answer" class="inputBoxLarge"></input>
      <p><input type="submit" class="inputButton" value="Add Card"></input></p>
    </form>
  </div>

  {{#each cards}}
    <div class="cardDisplay">
      <table>
      <tr class="questionCell">
      <h4> Question</h4>
      <form class='cardForm' action="#" method="post">
        <input id="{{_id}}qinput" type="text" name="Question" class="inputBox" placeholder="{{Question}}"></input>
        <p id="{{_id}}qtext" class="question">{{Question}}</p>
      </tr>
      <tr class="answerCell">
        <h4> Answer </h4>
        <input id="{{_id}}ainput" type="text" name="Answer" class="inputBox" placeholder="{{Answer}}"></input>
        <p id="{{_id}}atext" class="answer">{{Answer}}</p>
      </tr>
      <tr class="editCell">
          <input type='submit' id="{{_id}}save" onclick="renameItem({{_id}})" value="Save" class="inputButtonHidden"></input>
          </form>
          <button id="{{_id}}edit" onclick="editItem({{_id}})" class="inputButton">Edit</button>
        <form class='buttonForm' action="#" method="post">
        <input type="hidden" name="id" value="{{_id}}>"></input>
        <input type="submit" id="{{_id}}delete" value="Delete" class="inputButton"></input>
        </form>
      </tr>
      </table>

    </div>
    <!-- </td></tr>
  </tbody>
  </table> -->


  {{/each}}
