<script src="../javascripts/items.js" type="text/javascript"></script>

    <!-- <a href="/mydecks"><button class="inputButtonLarge">↩ back</button></a> -->
    <h2>
      <img class="deckLogo" src="../images/decklogoGreen.svg"/>
      {{currentDeck}}
    </h2>



  <p>
    <form action="/api/decks/:id" method="delete">
    <input type="submit" class="inputButton" id="makePublic" value="Make Public"></input>
    <input type="submit" class="inputButton" id="makePrivate" value="Make Private"></input>
    <input type="submit" class="inputButton" id="deleteDeck" value="Delete"></input>
    </form>
    </form>

    <button class="inputButtonLarge">Study Deck</button>
    <button class="addCardLogo" id="addCard">⊕</button>

  </p>

  <div class="addCard" id="addCardDiv">
    <form action="/api/cards" method="post">
      <input type="hidden" name="DeckName" value="{{{currentDeck}}}">
      <h4> Question </h4>
      <textarea name="Question" class="inputBoxLarge"></textarea>
      <h4> Answer </h4>
      <textarea name="Answer" class="inputBoxLarge"></textarea>
      <p><input type="submit" value="Add Card" class="inputButton"></input></p>
    </form>


  </div>

  <div class="studySpinner js-flickity">
  {{#each cards}}
    <div class="gallery-cell">
    <div class="cardDisplay">
      <table>
      <tr class="questionCell">
      <h4> Question</h4>
        <textarea id="{{_id}}qinput" type="text" name="Question" class="inputBox" placeholder="{{Question}}"></textarea>
        <p id="{{_id}}qtext" class="question">{{Question}}</p>
      </tr>
      <tr class="answerCell">
        <h4> Answer </h4>
        <textarea id="{{_id}}ainput" type="text" name="Answer" class="inputBox" placeholder="{{Answer}}"></textarea>
        <p id="{{_id}}atext" class="answer">{{Answer}}</p>
      </tr>
      <tr class="editCell">
        <p><button id="{{_id}}save" value="{{_id}}" class="inputButtonSave" onClick="saveItem('{{_id}}')">Save</button>
        <button id="{{_id}}edit" value="{{_id}}" class="inputButtonEdit" onClick="editItem('{{_id}}')">Edit</button>
        <!-- <form class='buttonForm' action="#" method="post"> -->
        <input type="hidden" name="id" value="{{_id}}"></input>
        <button id="{{_id}}delete" value="{{_id}}" class="inputButtonDelete">Delete</button>
        </p>
        <!-- </form> -->
      </tr>
      </table>

    </div>
    </div>

  {{/each}}

  </div>
