
{{#if message}}
<p class = "message">{{message}}</p>
{{/if}}

{{#each decks}}
<div>
<form action="/editdeck" method="post">
<input type="hidden" name="Name" value="{{{Name}}}">
<input type="submit" value="editdeck"></input>
  <h3>{{Name}}</h3>
  <p><span class="bold"> User: </span>{{User}}</p>
  <p><span class="bold"> Public: </span>{{Public}}</p>
</div>

</form>
{{/each}}
