You made it to deck view!!!

{{#if message}}
{{message}}
{{/if}}

{{#each decks}}
<h3>{{Name}}</h3>
<div>
  <p><span class = "bold"> User: </span>{{User}}</p>
  <p><span class="bold"> Public: </span>{{Public}}</p>
</div>

<form action="/studydeck" method="post">
<input type="hidden" name="name" value="{{Name}}">
<input type="submit" value="Study This Deck"></input>
</form>

{{/each}}
